/* Customize pagination controls */
.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  

.message-with-stars {
  border: 2px solid red; /* Customize border style and color as needed */
}
::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}
