/* CSS pour le wrapper de la table */
.table-wrapper {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);
  box-shadow: 0 5px 15px rgba(94, 114, 228, 0.5);
  border-radius: 0.375rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}

/* CSS pour la table */
.custom-table {
  width: 100%;
}

/* CSS pour le texte à l'intérieur de la table */
.custom-table th,
.custom-table td {
  word-wrap: break-word;
}


.reduced-width {
  max-width: 1000px; /* ajustez cette valeur selon vos besoins */
}

/* Style du placeholder */
input::placeholder {
  color: #999; /* Couleur du texte */
  font-style: italic; /* Style de police (optionnel) */
  font-size: 14px; /* Taille de la police (optionnel) */
  width: 1000px;
}


