.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 2px;
  }
  /* Customize pagination controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

  