<section class="section style-three pb-0">
  <div class="container">
    <div class="row"><div class="col-lg-6 order-1 order-lg-0">
        <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
          <div class="section-title">
            <h3>Your article could be the light someone needs</h3>
            <h2>submit it now.</h2>
          </div>
          <form [formGroup]="BlocForm" (ngSubmit)="addPost()" name="contact_form" class="default-form contact-form" action="#" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="titre" placeholder="Titre" formControlName="titre" required>
                  <div *ngIf="validateField('titre')" class="text-danger">
                    {{ getErrorMessage('titre') }}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control " id="typePost" formControlName="typePost">
                    <option value="" disabled selected>Thématique</option>
                    <option *ngFor="let type of typePostValues" [value]="type">{{ type }}</option>
                  </select>
                  <div *ngIf="validateField('typePost')" class="text-danger">
                    {{ getErrorMessage('typePost') }}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" name="description" placeholder="Description" rows="4" formControlName="description"></textarea>
                  <div *ngIf="validateField('description')" class="text-danger">
                    {{ getErrorMessage('description') }}
                  </div>
                </div>
                <!-- Déplacer ici le bloc de l'icône de la caméra -->
                <div class="form-group border rounded p-2">
                  <label for="fileInput" class="btn btn-sm btn-default">
                    <i class="fa fa-camera"></i> Choose File
                  </label>
                  <input id="fileInput" type="file" class="form-control-file d-none" (change)="onFileSelected($event)">
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-style-one">submit now</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0 order-0 order-lg-1">
        <div class="appointment-image-holder ml-0 ml-lg-4">
          <figure>
            <img loading="lazy" class="w-100" src="/assets/Front/images/background/appoinment.jpg" alt="Appointment">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
